.CityForm form {
  text-align: center;
}

.CityForm #city-form .search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #aec6cf;
  color: white;
  border: none;
  padding: 1.25rem 1.5rem;
  line-height: 1;
  border-radius: 5px;
  font-family: "PT Mono";
}

.CityForm #city-form .search-button:hover {
  background-color: #36576b;
  cursor: grab;
}

.CityForm #city-form .search-input {
  background-color: #e8f6fa;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 1.25rem;
  width: 75%;
  border-radius: 6px;
  font-family: "PT Mono";
}

.CityForm .warning {
  font-family: "PT Mono";
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  margin: 5%;
  text-align: center;
}

@media (max-width: 768px) {
  .CityForm #city-form .search-input {
    width: 60%; /* Adjust input width for medium screens */
  }

  .CityForm #city-form .search-button {
    font-size: 14px; /* Adjust button font size for medium screens */
    padding: 1rem 1.25rem; /* Adjust button padding for medium screens */
  }
}

@media (max-width: 480px) {
  .CityForm #city-form .search-input {
    width: 50%; /* Adjust input width for small screens */
  }

  .CityForm #city-form .search-button {
    font-size: 12px; /* Adjust button font size for small screens */
    padding: 0.75rem 1rem; /* Adjust button padding for small screens */
  }
}

@media (max-width: 320px) {
  .CityForm #city-form .search-input {
    width: 100%; /* Full width for extra small screens */
  }

  .CityForm #city-form .search-button {
    width: 100%; /* Full width for extra small screens */
    font-size: 12px; /* Adjust button font size for extra small screens */
    padding: 0.75rem; /* Adjust button padding for extra small screens */
  }
}
